[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/mitschix/nvim.files
	branch = master
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
