*.pyc
config/zsh/.zcompdump
config/zsh/.zcompcache

config/zsh/*.local

config/zsh/.zshrc.zwc
config/zsh/.antidote
config/zsh/plugins/antidote-plugins.zsh

config/py3status/config*
config/task/sync-config
